<%- include('partials/header') %>
<%- include('partials/navbar_cust') %>

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajaxRider/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>

	<body>
		<div class="container">
		  <h1>Customer Home</h1>
		  <p>Welcome, <%= name%>!</p>
		  <p></p>
		  <form id="goProfile_form" name="goProfile" action="/cust_home/go_profile" role="form" method="post">
			<button id="goProfile" name="goProfile" type="submit" class="btn btn-primary btn-block"
			  value="Profile">Profile</button>
		  </form>
		  <p></p>
		  <form id="goRest_form" name="goRest" action="/cust_home/go_rest" role="form" method="post">
			<button id="goRest" name="goRest" type="submit" class="btn btn-primary btn-block"
			  value="Restaurants">Restaurants</button>
		  </form>
		  <p></p>
		  <form id="goOrderInfo_form" name="goOrderInfo" action="/cust_home/go_orderInfo" role="form" method="post">
			<button id="goOrderInfo" name="goOrderInfo" type="submit" class="btn btn-primary btn-block"
			  value="OrderInfo">Order Infomation</button>
		  </form>
		</div>
	  
</body>

</html>


<%- include('partials/footer') %>