<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/header') %>
  </head>
  <body style="height:1500px">
    <%- include('partials/navbar') %>

    <div class="container-fluid" style="margin-top:80px">
      <h1>Welcome to FDS Application</h1>
      <p> This is <%= title%> from CS2102 <p>
   </div>

  
  </body>
</html>
