<%- include('partials/header') %>
<%- include('partials/navbar_login') %>
<h1>Welcome to FDS Application</h1>
<p> Developers: Group 31 from CS2102 <p>
<form id="html_form" role = "form" action="/login" method="post">
    <div class="form-group">
        <label >Username:</label>
        <input class="form-control" type="text" name="username"/>
    </div>
    <div class="form-group">
        <label>Password:</label>
        <input class="form-control" type="password" name="password"/>
    </div>
    <button type="submit" class="btn btn-primary" value="login">Submit</button>
</form>



<script>
    (function() {
      window.addEventListener('load', function() {
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const login = urlParams.get('login');
        const signup = urlParams.get('signup');

        if(signup != null ){
            if(signup.localeCompare('success') == 0){
                alert('Sign Up Success. You can login now!');
            } else if (signup.localeCompare('fail') == 0){
                alert('Sign Up Failed! Perhaps try another username?');
            }
        }

        if(login != null && login.localeCompare('fail') == 0){
            alert('Login Failed. Please try again!');
        }

      }, false);
    })();

</script>
<%- include('partials/footer') %>